<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Acgil: Official Website</title>
</head>

<body>
  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i><a href="mailto:enquiry@acgil.tech">enquiry@acgil.tech</a>
        <i class="icofont-phone"></i>+60327243881
      </div>
      <!-- <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div> -->
    </div>
  </div>

  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <div>
        <a href="index.html"><i class='bx bx-arrow-back'></i></a>
      </div>
      <h1 class="logo logo-center mr-auto"><a href="index.html"><img
            src="./../assets/img/acgil-logo.png" class="acgil-logo" alt="acgil-logo"></a>
        <a href="https://www.appspace.com/" target="_blank"><img
            src="./../assets/img/appspace-logo.png" width="30%" alt="appspace-logo"></a>
      </h1>
    </div>
  </header>

  <main id="main">


    <section id="services" class="services mt-160">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>

          <h3>Workspace Experience <span>Platform</span></h3>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
              <div class="img"><img
                  src="https://cdn.acumatica.com/media/2020/01/Product-Overview-General-Business-470x0-c-default.jpg"
                  alt="Product-Overview-General-Business"></div>
              <div class="content">
                <h4><a href="">Team Communication</a></h4>
                <p>Consistent, timely communications are more critical than ever. Your team may be
                  geographically dispersed, but that doesn’t mean they need to feel out of the loop.
                  Appspace cuts through the noise of emails, chats, and oversaturated channels,
                  bringing important information to all digital signage and devices.</p>
                <div class="button">
                  <button><a href="https://www.appspace.com/communication-tools/"
                      target="_blank">Learn more</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="img"><img
                  src="https://cdn.acumatica.com/media/2017/03/Product-Overview-Distribution-720x0-c-default.jpg"
                  alt="Product-Overview-Distribution"></div>
              <div class="content">
                <h4><a href="">Space Management</a></h4>
                <p>Manage a modern workspace – Use simple and user-friendly space management tools
                  to set up your office space for maximum efficiency, personalization, and safety.
                  Manage visitors, schedule rooms, and guide your teams to deliver a world-class
                  experience</p>
                <div class="button">
                  <button><a href="https://www.appspace.com/space-management/" target="_blank">Learn
                      more</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="img">
                <img
                  src="https://cdn.acumatica.com/media/2017/03/Product-Overview-Manufacturing-720x0-c-default.jpg"
                  alt="Product-Overview-Manufacturing">
              </div>
              <div class="content">
                <h4><a href="">Unified Platform</a></h4>
                <p>Integrate your workspace – Appspace is the only platform that integrates
                  communication and space management tools wherever your teams work. Upgrade your
                  workplace experience with enterprise-level security, integrations, and support.
                </p>
                <div class="button">
                  <button><a href="https://www.appspace.com/platform/" target="_blank">Learn
                      more</a></button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Success Stories</h2>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Would I recommend Acumatica to anybody? Absolutely not in our industry. I wouldn't
              want anybody to have a competitive advantage over what we do.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <div class="testimonial-info">
              <img src="./../assets/img/success-stories/propharma-logo.png" class="testimonial-img"
                alt="">
              <h3>Charles Snyder</h3>
              <h4>IT Director</h4>
            </div>
            <div class="testimonial-buttons">
              <button><a
                  href="https://www.acumatica.com/success-stories/erp-system-for-propharma-distribution/?pid=0000018517"
                  target="_blank" rel="noopener noreferrer">View more</a></button>
              <button class="d-none"><a href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
                  class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch
                  Video <i class="icofont-play-alt-2"></i></a></button>
            </div>
          </div>
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              NetSuite charges per user and had higher premiums where Acumatica has a better cost
              structure and doesn’t charge per user.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <div class="testimonial-info">
              <img src="./../assets/img/success-stories/korpack-logo.png" class="testimonial-img"
                alt="">
              <h3>Patrick Madison</h3>
              <h4>CFO</h4>
            </div>
            <div class="testimonial-buttons">
              <button><a
                  href="https://www.acumatica.com/success-stories/erp-system-for-korpack/?pid=0000018517"
                  target="_blank" rel="noopener noreferrer">View more</a></button>
              <button class="d-none"><a href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
                  class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch
                  Video <i class="icofont-play-alt-2"></i></a></button>
            </div>
          </div>
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              With Acumatica, we now have a platform that can scale without penalizing us for doing
              well; encouraging sales growth, not hindering it.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <div class="testimonial-info">
              <img src="./../assets/img/success-stories/ink-logo.jpg" class="testimonial-img"
                alt="">
              <h3>Holt Condren</h3>
              <h4>Co-Founder & CEO</h4>
            </div>
            <div class="testimonial-buttons">
              <button><a
                  href="https://www.acumatica.com/success-stories/erp-system-for-ink/?pid=0000018517"
                  target="_blank" rel="noopener noreferrer">View more</a></button>
              <button class="d-none"><a href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
                  class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch
                  Video <i class="icofont-play-alt-2"></i></a></button>
            </div>
          </div>
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              We personalize Acumatica to our needs almost daily; it’s the real hammer and anvil in
              my cubicle.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <div class="testimonial-info">
              <img src="./../assets/img/success-stories/bandai-logo.jpg" class="testimonial-img"
                alt="">
              <h3>Casval Tinoco</h3>
              <h4>Information Systems Sr. Manager</h4>
            </div>
            <div class="testimonial-buttons">
              <button><a
                  href="https://www.acumatica.com/success-stories/erp-system-for-bluefin-collectibles/?pid=0000018517"
                  target="_blank" rel="noopener noreferrer">View more</a></button>
              <button class="d-none"><a href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
                  class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch
                  Video <i class="icofont-play-alt-2"></i></a></button>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Acgil</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Powered by <strong><span>SK</span></strong>
      </div>
    </div>
  </footer>
  <div id="preloader"></div>
</body>

</html>